@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
  margin: -20px 0 50px;
  background-image: url("https://media3.giphy.com/media/uWMwQYgYVHVGU/giphy.gif?cid=ecf05e47tk00r6xsk5627b9h5a1i2vr66r0py8i2hj5tf5c8&rid=giphy.gif&ct=g");
  background-size:unset;
}